@font-face {
    font-family: 'pgfont';
    src: url('./fonts/PGFontV2.ttf') format('truetype');
}

@font-face {
    font-family: 'jpfont';
    src: url('./fonts/PixelMplus10-Regular.ttf') format('truetype');
}

/* @font-face {
    font-family: 'kyokasho';
    src: url('./fonts/UDDigiKyokashoN-R.ttc');
} */

@font-face {
    font-family: 'kyokasho';
    src: url('./fonts/UDDigiKyokashoN-R-01.ttf') format('truetype');
}